{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'catalog_app/style.css' %}" />

{% if product_list %}
    <p>List of products:</p>
    <ol>
    {% for product in product_list %}
        <li>{{ product.name }}</li>
    {% endfor %}
    </ol>
{% else %}
    <p>nothing here</p>
{% endif %}